%white-gradient { @include background( linear-gradient(#d0d0c5, #eeeeea) ); }
%black-gradient { @include background( linear-gradient(#141917, #202623) ); }

.white-device {
    .body {
        background-color: $white-phone-base;
        border-color: #f1f2eb;
    }

    .buttons {
        background-color: $white-phone-base;

        &:after, &:before {
            background-color: $white-phone-base;
        }
    }

    .front-camera {
        @extend %white-gradient;

        &:after { background-color: #8c8091; }
    }

    .top-speaker {
        @extend %white-gradient;

        &:after { background-color: #4b414a }
    }

    .home-button {
        @extend %white-gradient;

        &:after { border-color: #eff1e6; }
    }

    &:after {
        background: $white-phone-base;
    }
}

.black-device {

    .body {
        background-color: $black-phone-base;
        border-color: #282e2b;
    }

    .buttons {
        background-color: $black-phone-base;

        &:after, &:before {
            background-color: $black-phone-base;
        }
    }

    .front-camera {
        @extend %black-gradient;

        &:after { background-color: #4b414a; }
    }

    .top-speaker {
        @extend %black-gradient;

        &:after { background-color: #191616; }
    }

    .home-button {
        @extend %black-gradient;

        &:after { border-color: #444a45; }
    }


    &:after {
        background: $black-phone-base;
    }
}