 <div class="md-iphone-5 md-white-device md-glare">
   <div class="md-body">
      <div class="md-buttons"></div>

      <div class="md-front-camera"></div>
      <div class="md-top-speaker"></div>
      <div class="md-screen"></div>

      <button class="md-home-button"></button>
  </div>
</div>

<div class="md-iphone-5 md-black-device md-glare">
   <div class="md-body">

      <div class="md-buttons"></div>

      <div class="md-front-camera"></div>
      <div class="md-top-speaker"></div>
      <div class="md-screen"></div>

      <button class="md-home-button"></button>
  </div>
</div>