.macbook-pro {
	width: pxtoem(885);
	height: pxtoem(510);

	.lid {
		width: pxtoem(720);
		height: pxtoem(490);
		margin: 0 auto;
		border-radius: pxtoem(30);
		border: solid pxtoem(3) #cdced1;
		background: #131313;
		
	}

	.screen {
		width: pxtoem(676);
		height: pxtoem(422);
		margin: 0 auto;
		position: relative;
		top: pxtoem(40);
		background: #1d1d1d;
	}

	.base {
		width: 100%;
		height: pxtoem(15);
		position: relative;
		top: pxtoem(-12);
		background: #c6c7ca;

		&:after {
			content: "";
			display: block;
			width: 100%;
			height: pxtoem(8);
			margin: 0 auto;
			position: relative;
			bottom: pxtoem(-3);
			background: darken(#c6c7ca, 5%);
			border-radius: 0 0 pxtoem(20) pxtoem(20);
		}

		&:before {
			content: "";	
			display: block;
			width: pxtoem(123);
			height: pxtoem(10);
			margin: 0 auto;
			position: relative;
			background: darken(#c6c7ca, 12%);
			border-radius: 0 0 pxtoem(10) pxtoem(10);
		}
	}
}