.iphone-5 .body, .ipad .body {
  width: 100%;
  height: 100%;
  border-radius: 3.75em;
  border-style: solid;
  border-width: 0.375em;
  position: relative;
}

.iphone-5 .screen, .ipad .screen {
  position: relative;
  margin: 0 auto;
  background-color: #161616;
  border-radius: 0.25em;
  overflow: hidden;
  box-shadow: 0 0 0px 3px #161616;
}
.iphone-5 .screen img, .ipad .screen img {
  width: 100%;
}

.iphone-5 .home-button, .ipad .home-button {
  display: block;
  width: 3.625em;
  height: 3.625em;
  margin: 0 auto;
  position: relative;
  border-radius: 100%;
  border: none;
  cursor: default;
  font-size: 100%;
}
.iphone-5 .home-button:after, .ipad .home-button:after {
  content: "";
  display: block;
  width: 1.125em;
  height: 1.125em;
  margin: 0 auto;
  position: relative;
  border-style: solid;
  border-width: 0.125em;
  border-radius: 0.25em;
}

.iphone-5 .front-camera, .ipad .front-camera {
  width: 0.875em;
  height: 0.875em;
  margin: 0 auto;
  position: relative;
  border-radius: 100%;
}
.iphone-5 .front-camera:after, .ipad .front-camera:after {
  content: "";
  display: block;
  width: 0.375em;
  height: 0.375em;
  position: relative;
  top: 0.25em;
  left: 0.25em;
  background-color: #8c8091;
  border-radius: 100%;
}

.iphone-5:before, .ipad:before {
  content: "";
  display: block;
  width: 50%;
  height: 80%;
  position: absolute;
  top: 0.75em;
  right: 0em;
  border-radius: 0 3.125em 0 0;
  background: -webkit-linear-gradient(bottom left, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: -moz-linear-gradient(bottom left, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: -o-linear-gradient(bottom left, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: linear-gradient(to top right, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  z-index: 100;
}

.iphone-5:after {
  content: "";
  display: block;
  width: 3.3125em;
  height: 0.1875em;
  position: absolute;
  right: 3.625em;
  top: -0.1875em;
  border-radius: 0.125em 0.125em 0 0;
}

.iphone-5 {
  width: 22.8125em;
  height: 49em;
  position: relative;
}
.iphone-5 .front-camera {
  top: 1.25em;
}
.iphone-5 .top-speaker {
  width: 3.75em;
  height: 0.875em;
  margin: 0 auto;
  position: relative;
  top: 2.25em;
  border-radius: 3.125em;
}
.iphone-5 .top-speaker:after {
  content: "";
  display: block;
  width: 3.25em;
  height: 0.375em;
  margin: 0 auto;
  position: relative;
  top: 0.25em;
  background-color: #4b414a;
  border-radius: 3.125em;
}
.iphone-5 .screen {
  width: 20em;
  height: 35.5em;
  top: 3.75em;
}
.iphone-5 .home-button {
  bottom: -5.3125em;
}
.iphone-5 .buttons {
  width: 0.1875em;
  height: 1.875em;
  position: absolute;
  left: -0.5625em;
  top: 5.9375em;
  border-radius: 0.125em 0 0 0.125em;
}
.iphone-5 .buttons:after, .iphone-5 .buttons:before {
  content: "";
  display: block;
  position: absolute;
  width: 0.1875em;
  height: 1.5625em;
  border-radius: 0.125em 0 0 0.125em;
}
.iphone-5 .buttons:after {
  top: 3.125em;
}
.iphone-5 .buttons:before {
  top: 6.25em;
}

.ipad {
  width: 53.375em;
  height: 79.4375em;
  position: relative;
}
.ipad button {
  display: block;
  border: none;
  position: absolute;
  padding: 0;
  border-radius: 0.125em 0 0 0.125em;
  cursor: none;
}
.ipad .front-camera {
  top: 3.125em;
}
.ipad .screen {
  width: 48em;
  height: 64em;
  top: 6.25em;
}
.ipad .home-button {
  bottom: -8.125em;
}

.white-device .front-camera, .white-device .top-speaker, .white-device .home-button {
  background: -webkit-linear-gradient(#d0d0c5, #eeeeea);
  background: -moz-linear-gradient(#d0d0c5, #eeeeea);
  background: -o-linear-gradient(#d0d0c5, #eeeeea);
  background: linear-gradient(#d0d0c5, #eeeeea);
}

.black-device .front-camera, .black-device .top-speaker, .black-device .home-button {
  background: -webkit-linear-gradient(#141917, #202623);
  background: -moz-linear-gradient(#141917, #202623);
  background: -o-linear-gradient(#141917, #202623);
  background: linear-gradient(#141917, #202623);
}

.white-device .body {
  background-color: #ebebe4;
  border-color: #f1f2eb;
}
.white-device .buttons {
  background-color: #ebebe4;
}
.white-device .buttons:after, .white-device .buttons:before {
  background-color: #ebebe4;
}
.white-device .front-camera:after {
  background-color: #8c8091;
}
.white-device .top-speaker:after {
  background-color: #4b414a;
}
.white-device .home-button:after {
  border-color: #eff1e6;
}
.white-device:after {
  background: #ebebe4;
}

.black-device .body {
  background-color: #1b211e;
  border-color: #282e2b;
}
.black-device .buttons {
  background-color: #1b211e;
}
.black-device .buttons:after, .black-device .buttons:before {
  background-color: #1b211e;
}
.black-device .front-camera:after {
  background-color: #4b414a;
}
.black-device .top-speaker:after {
  background-color: #191616;
}
.black-device .home-button:after {
  border-color: #444a45;
}
.black-device:after {
  background: #1b211e;
}

.macbook-pro {
  width: 55.3125em;
  height: 31.875em;
}
.macbook-pro .lid {
  width: 45em;
  height: 30.625em;
  margin: 0 auto;
  border-radius: 1.875em;
  border: solid 0.1875em #cdced1;
  background: #131313;
}
.macbook-pro .camera {
  width: 0.375em;
  height: 0.375em;
  margin: 0 auto;
  position: relative;
  top: 1.25em;
  background: #000;
  border-radius: 100%;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.25);
}
.macbook-pro .camera:after {
  content: "";
  display: block;
  width: 0.125em;
  height: 0.125em;
  position: absolute;
  left: 0.125em;
  top: 0.0625em;
  background: #353542;
  border-radius: 100%;
}
.macbook-pro .screen {
  width: 42.25em;
  height: 26.375em;
  margin: 0 auto;
  position: relative;
  top: 2.5em;
  background: #1d1d1d;
}
.macbook-pro .base {
  width: 100%;
  height: 0.9375em;
  position: relative;
  top: -0.75em;
  background: #c6c7ca;
}
.macbook-pro .base:after {
  content: "";
  display: block;
  width: 100%;
  height: 0.5em;
  margin: 0 auto;
  position: relative;
  bottom: -0.1875em;
  background: #b9babe;
  border-radius: 0 0 1.25em 1.25em;
}
.macbook-pro .base:before {
  content: "";
  display: block;
  width: 7.6875em;
  height: 0.625em;
  margin: 0 auto;
  position: relative;
  background: #a6a8ad;
  border-radius: 0 0 0.625em 0.625em;
}

.iphone-5, .ipad, .macbook-pro {
  margin: 100px auto;
}
