@import "utilities";


.md-imac {
	width: pxtoem(1000);
	height: pxtoem(800);
	-webkit-transform: translate3d(0,0,0);

	.md-body {
		width: 100%;
		height: pxtoem(690);
		background: #c6c7ca;
		border-radius: pxtoem(30);
		overflow: hidden;
	}

	.md-top {
		width: 100%;
		height: pxtoem(595);
		background: #0f0f0f;
		border-radius: pxtoem(30) pxtoem(30) 0 0;
		position: relative;
	}

	.md-screen {
		width: pxtoem(920);
		height: pxtoem(518);
		margin: 0 auto;
		position: relative;
		top: pxtoem(38);
		background: #17171a;
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	.md-camera {
		width:  pxtoem(6);
		height: pxtoem(6);
		margin: 0 auto;
		position: relative;
		top: pxtoem(20);
		background: #000;
		border-radius: 100%;
		box-shadow: inset 0 -1px 0 rgba(#fff, 0.25);

		&:after {
			content: "";
			display: block;
			width: pxtoem(2);
			height: pxtoem(2);
			position: absolute;
			left: pxtoem(2);
			top: pxtoem(1);
			background: #353542;
			border-radius: 100%;
		}
	}

	.md-base {
		width: pxtoem(308);
		height: pxtoem(110);
		margin: pxtoem(-8) auto;
	}

	.md-stand {
		width: pxtoem(210);
		height: pxtoem(98);
		margin: 0 auto;
		background: #cccdcf;
		@include background(linear-gradient(darken(#cccdcf, 8%), #cccdcf 50%, lighten(#cccdcf,5%) 80%, #cccdcf, darken(#cccdcf, 5%)));
		@include transform(perspective(pxtoem(800)) rotate3d(1, 0, 0, 30deg));
	}

	.md-foot {
		width: pxtoem(240);
		height: pxtoem(50);
		margin: 0 auto;
		position: relative;
		bottom: pxtoem(24);
		border-radius: 0 0 pxtoem(10) pxtoem(10);
		@include background(linear-gradient(darken(#cccdcf, 5%) 20%, #cccdcf));
		@include transform(perspective(pxtoem(190)) rotate3d(1, 0, 0, 70deg));
		box-shadow: 0 pxtoem(6) 0 darken(#cccdcf, 5%);
	}

	&.md-glare {
		.md-top:after {
	      content: "";
	      display: block;
	      width: 50%;
	      height: 100%;
	      position: absolute;
	      top: 0;
	      right: 0;
	      border-radius: 0 pxtoem(20) 0 0;
	      @include background(linear-gradient(48deg, rgba(#fff, 0) 50%, rgba(#f7f8f0, 0.025) 50%, rgba(#faf5fc, 0.08) ));
  		}
	}
}

