@import "utilities";
@import "shared-structure";

.ipad {
    width: pxtoem(854);
    height: pxtoem(1271);
    position: relative;

    .body {
        @extend %device-body;
    }

     button {
        display: block;
        border: none;
        position: absolute;
        padding: 0;
        border-radius: pxtoem(2) 0 0 pxtoem(2);
        cursor: none;
    }

    .front-camera {

        top: pxtoem(50);
        @extend %front-camera;

    }

    .screen {
        width: pxtoem(768);
        height: pxtoem(1024);
        top: pxtoem(100);
        @extend %device-screen;
    }

    .home-button {
        bottom: pxtoem(-140);
        @extend %home-button;
    }

    &.glare {
        @extend %glare;
    }

    &.landscape {
        @include transform3d(rotateZ(90deg));

        &.glare {
            &:before {
                @include transform(rotateY(180deg));
                left: pxtoem(10);
                top: pxtoem(10);
            }
        }
    }
}

@import "color-variations";