@import "utilities";
@import "shared-structure";

.md-iphone-5 {
    width: pxtoem(365);
    height: pxtoem(784);
    position: relative;


    .md-body {
        @extend %device-body
    }

    .md-front-camera {
        top: pxtoem(20);
        @extend %front-camera;

    }

    .md-top-speaker {
        width: pxtoem(60);
        height: pxtoem(14);
        margin: 0 auto;
        position: relative;
        top: pxtoem(36);
        border-radius: pxtoem(50);


        &:after {
            content: "";
            display: block;
            width: pxtoem(52);
            height: pxtoem(6);
            margin: 0 auto;
            position: relative;
            top: pxtoem(4);
            background-color: #4b414a;
            border-radius: pxtoem(50);
        }
    }

    .md-screen {
        width: pxtoem(320);
        height: pxtoem(568);
        top: pxtoem(60);
        @extend %device-screen;
    }

    .md-home-button {
        bottom: pxtoem(-95);
        @extend %home-button;
    }

    .md-buttons {
        width: pxtoem(3);
        height: pxtoem(30);
        position: absolute;
        left: pxtoem(-8);
        top: pxtoem(95);
        border-radius: pxtoem(2) 0 0 pxtoem(2);

        &:after, &:before {
            content: "";
            display: block;
            position: absolute;
            width: pxtoem(3);
            height: pxtoem(25);
            border-radius: pxtoem(2) 0 0 pxtoem(2);
        }

        &:after {
            top: pxtoem(50);
        }

        &:before {
           top: pxtoem(100);
        }
    }


    &.md-glare {
        @extend %glare;
    }

    &.md-landscape {
        @include transform3d(rotateZ(90deg));

        &.md-glare {
            &:before {
                @include transform(rotateY(180deg));
                left: pxtoem(10);
                top: pxtoem(10);
            }
        }
    }

    @extend %toggle;
}


@import "color-variations";

