$white-phone-base: #ebebe4;
$black-phone-base: #1b211e;


%device-body {
    width: 100%;
    height: 100%;
    border-radius: pxtoem(60);
    border-style: solid;
    border-width: pxtoem(6);
    position: relative;
}

%device-screen {
    position: relative;
    margin: 0 auto;
    background-color: #161616;
    border-radius: pxtoem(4);
    overflow: hidden;
    box-shadow: 0 0 0px 3px #161616;

    img {
        width: 100%;
    }
}

%home-button {
    display: block;
    width: pxtoem(58);
    height: pxtoem(58);
    margin: 0 auto;
    position: relative;
    border-radius: 100%;
    border: none;
    cursor: default;
    font-size: 100%;

    &:after {
        content: "";
        display: block;
        width: pxtoem(18);
        height: pxtoem(18);
        margin: 0 auto;
        position: relative;
        border-style: solid;
        border-width: pxtoem(2);
        border-radius: pxtoem(4);
    }
}

%front-camera {
    width: pxtoem(14);
    height: pxtoem(14);
    margin: 0 auto;
    position: relative;
    border-radius: 100%;

    &:after {
        content: "";
        display: block;
        width: pxtoem(6);
        height: pxtoem(6);
        position: relative;
        top: pxtoem(4);
        left: pxtoem(4);
        background-color: #8c8091;
        border-radius:100%;
    }
}


// For glare
%glare {
    content: "";
    display: block;
    width: 50%;
    height: 83%;
    position: absolute;
    top: pxtoem(10);
    right: pxtoem(10);
    border-radius: 0 pxtoem(50) 0 0;
    z-index: 1;
}

// On off toggle button
%toggle {

    &:after {
        content: "";
        display: block;
        width: pxtoem(53);
        height: pxtoem(3);
        position: absolute;
        right: pxtoem(58);
        top: pxtoem(-3);
        border-radius: pxtoem(2) pxtoem(2) 0 0;

    }
}


