
@import "compass/css3";

// A function to convert a px value to em. Takes an optional context variable
// to change the context.
//
// eg.  #box { width: pxtoem(20) }
//
// -----------------------------------------------------------------------------

@function pxtoem($px-value, $context: 16) {
  @return #{$px-value/$context}em;
}

